body{
    background-image: url("library.jpg");
    opacity: 0.6;
     background-repeat: no-repeat; 
    background-size: cover; 
     background-attachment: fixed; 
    

} 
.head{
    color: black;
    
}
.main{
    color: black;
}
